$background-color: #ddf;

body {
    background-color: $background-color;
}

.main {
    background-color: #fff;
    padding: 20px 50px;
    max-width: 992px;
}

.section {
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    font-size: .5rem;
    width: 30px;
}